gradio == 4.44.1
gradio_client
requests~=2.32.3
huggingface_hub
numpy>=1.17
boto3~=1.35.45
mysql~=0.0.3
mysql-connector-python~=9.1.0
fastapi~=0.115.3
pandas~=2.2.3
torch~=2.5.0
transformers~=4.45.2
langchain~=0.3.4
urllib3>=1.26.6
botocore>=1.20.0
